<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">

<!-- Page Content-->
<div layout:fragment="content">
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-12 mb-3">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-3">
                            <h2 class="fs-4 fw-bold">제목</h2>
                            <input class="fs-4 fw-bold" value="안녕! 친구들">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-12 mb-3">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-3">
                            <h2 class="fs-4 fw-bold">내용</h2>
                            <textarea class="fs-4" rows="10">이제는 "저장" 눌렀을때 저장되게 끔 JPA 설계를 해보도록하자!!!!</textarea>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xxl-6 mb-3">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-1 pt-0 pt-lg-1">
                            <h2 class="fs-4 fw-bold">예약알림</h2>
                            <input type="datetime-local" class="fs-4">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-6 mb-3">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-1 pt-0 pt-lg-1">
                            <h2 class="fs-4 fw-bold">중요도</h2>
                            <input type="image" class="col-1-1" th:src="@{/images/useravatar.svg}">
                            <input type="image" class="col-1-1" th:src="@{/images/useravatar.svg}">
                            <input type="image" class="col-1-1" th:src="@{/images/useravatar.svg}">
                            <input type="image" class="col-1-1" th:src="@{/images/useravatar.svg}">
                            <input type="image" class="col-1-1" th:src="@{/images/useravatar.svg}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xxl-12 mb-3">
                    <div class="card bg-light border-0 h-100">
                        <a class="btn btn-primary btn-lg" href="/feed/add">저장</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
